<div class="container">
    <h1>Create Ship</h1>
   
    <a href="#" routerLink="/ship/view" class="btn btn-primary">Back</a>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-group">
            <label for="name">Name:</label>
            <input 
                formControlName="name"
                id="name" 
                type="text" 
                class="form-control">
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name'].errors && f['name'].errors['required']">name is required.</div>
            </div>
        </div>
           
        <div class="form-group">
            <label for="date_creation">Date Creation:</label>
            <input 
                formControlName="date_creation"
                id="date_creation" 
                type="text" 
                
                class="form-control">
            <div *ngIf="f['date_creation'].touched && f['date_creation'].invalid" class="alert alert-danger">
                <div *ngIf="f['date_creation'].errors && f['date_creation'].errors['required']">Date of Creation is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="date_destruction">Date Destruction:</label>
            <input 
                formControlName="date_destruction"
                id="date_destruction" 
                type="text" 
                
                class="form-control">
            <div *ngIf="f['date_destruction'].touched && f['date_destruction'].invalid" class="alert alert-danger">
                <div *ngIf="f['date_destruction'].errors && f['date_destruction'].errors['required']">Date of Destruction is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="id_type">Type Ship:</label>
            <select formControlName="id_type" id="id_type" class="form-select bg-light form-control" matNativeControl>
                <option value="{{item.id}}" *ngFor="let item of types">{{item.name}}</option>
              </select>
            <div *ngIf="f['id_type'].touched && f['id_type'].invalid" class="alert alert-danger">
                <div *ngIf="f['id_type'].errors && f['id_type'].errors['required']">Date of Destruction is required.</div>
            </div>
        </div>

        <button class="btn btn-primary mt-2" type="submit" >Create</button>
    </form>
</div>