<div class="container mt-4">
    <a href="#" routerLink="/ship/view" class="btn btn-primary">Back</a>
    <div>
        <b>Calculate Time.</b>
        <p>It is about calculating the time it takes each spaceship to reach three destinations according to their distance and the speed of each ship.</p>
    </div>
    <form [formGroup]="form" class="w-25 m-auto">
        <div>
            Ship:
            <select formControlName="id_feature" id="id_feature" class="form-select bg-light form-control"
                matNativeControl (change)="changeShipSelect($event)">
                <option value="{{item.id}}" *ngFor="let item of ships ">
                    {{item.name}}</option>
            </select>
            <input formControlName="displacement" id="displacement" type="text" class="form-control" placeholder="Displacement">

            Distance:
            <select formControlName="time" id="time" class="form-select bg-light form-control"
                matNativeControl (change)="changePlaceSelect($event)">
                <option value="moon">Moon</option>
                <option value="sun">Sun</option>
                <option value="jupiter">Jupiter</option>
            </select>

            Result in Years:
            <input formControlName="result" id="result" type="text" class="form-control"
                placeholder="{{resCalculated}}">
        </div>
        <div class="modal-footer">
            <button type="button" (click)="Calculate()"
                class="btn btn-primary mt-4 ms-2">Result</button>
        </div>
    </form>
</div>